@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */


.roboto {
    font-family: 'Roboto', sans-serif;
}

.poppins {
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}

#root {
    height: 100%;
    width: 100%;
}